*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
}

#title{
    font-size: x-large;
    padding: 16px;
    display: flex;
}

#title em{
    font-size: large;
    margin-left: auto;
}

#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#controls{
    display: flex;
    flex-direction: column;
    background-color:dimgray;
    gap: 12px;
    margin: 12px;
    padding: 24px;
    border-radius: 10px;
}

#grid{
    flex-shrink: 0;
    border: 2px solid gray;
    display: flex;
    flex-wrap: wrap;
}

#slider{
    background-color: darkgray;
    width: 250px;
    height: 15px;
    margin: 15px 0;
    border: 1px solid darkgray;
    border-radius: 10px;
}

#dot{
    position: relative;
    top: -7.5px;
    left: 85px;
    background-color: black;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}

#slider:hover{
    border: 1px solid white;
}

.sub-menu{
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn{
    padding: 6px;
    border: none;
    font-weight: 700;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.btn:hover{
    background-color: darkgray;
    border: 1px solid white;
    transform: scale(1.05);
}

.selected{
    background-color: darkgray;
    border: 1px solid lightgray;
    transform: scale(1.05);
}

.hidden{
    display: none;
}